html{
    font-family: verdana;
    text-align: center;
    background-image: url(https://i.gifer.com/Ir4.gif);

}

/* html makes global changes to the site. dictates font type as well as centers all text. houses bg image too!*/

p.description{
    color: #8987fa;
    font-size: large;
}

/* html makes global changes to the site. dictates font type as well as centers all text. houses bg image too!*/

h1{
    color: #8987fa;
}

/* html makes global changes to the site. dictates font type as well as centers all text. houses bg image too!*/

p.credits{
    color: #8987fa;
    font-size: small;
}

/* html makes global changes to the site. dictates font type as well as centers all text. houses bg image too!*/
